<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>Data</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="moment.js"></script>
  </head>
  <body>
    <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>
    <h1>Search Data</h1>
    <form action="" method="POST">
      <label for="string">String</label>

      <input type="text" id="string" name="string" placeholder="String" />

      <label for="integer">Integer</label>
      <input type="number" id="integer" name="integer" placeholder="Integer" />

      <label for="float">Float</label>
      <input type="number" step="0.01" id="float" name="float" placeholder="Float" />

      <label for="date">Date</label><br>
      <input id="date" class="date-search" name="start" type="date"> to
      <input id="date" class="date-search" name="end" type="date">
      <br>
      <label for="boolean">Boolean</label>
      <select name="boolean" id="boolean">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>

     <button type="submit" class="btn-search">Search</button>
    </form>

    <table class="table">
      <tr>
        <th>ID</th>
        <th>String</th>
        <th>Integer</th>
        <th>Float</th>
        <th>Date</th>
        <th>Boolean</th>
        <th>Action</th>
      </tr>

      <% data.forEach((item, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= item.string %></td>
        <td><%= item.angka %></td>
        <td><%= item.desimal %></td>
        <td id="date"><%= item.tanggal %></td>
        <td><%= item.booleann %></td>
        <td>
          <a href="/edit/<%= item.id_data %>" class="btn-edit">Edit</a>
          <a href="/delete/<%= item.id_data %>" class="btn-delete">Delete</a>
        </td>
      </tr>
      <% }) %>
    </table>
    <div class="pagination">
      <% if(page >= 1){ %> 
      <a href="/?page=<%= page - 1 %>&size=<%= 2 %> ">Previous</a>
      <% } %> 

      <% for(let i = 0; i < jumlahHalaman; i++){ %> 
      <a href="/?page=<%= i %>&size=<%= 2 %>"><%= i + 1 %> </a>
      <% } %> 
      
      <% if(page < jumlahHalaman - 1){ %> 
        <a href="/?page=<%= page - 1 %>&size=<%= 2 %> ">Next</a>
        <% } %> 
     
    </div>
    <div><a href="/add" class="btn-add">Add</a></div>

    <script>
      let a = document.getElementById(date)
      moment(a).format("d-MMM-YYYY");
  </script>
  </body>
</html>
